@import "tailwindcss";

body {
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
footer {
  position: fixed;
  bottom: 0;
  font-size:0.8rem; 
  color:#666; 
  text-align:center; 
}