@import "tailwindcss";

body {
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #e8dbcd;

  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
  font-size:0.8rem; 
  color:#666; 
  text-align:center; 
}