@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, nord;
}

body {
  place-items: center;
  justify-content: center;
  
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}